html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 100%;
}

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --background-color: #161516;
  --background-lighten-color: #232123;
  --general-font: #fdfdff;
  --font-color: #1597BB;
  --dark-bc: #161516;
  --dark-bc-lighten: #232123;
  --light-bc: #f4f4fe;
  --light-bc-lighten: #fefaff;
  --green-font: #4E9F3D;
  --yellow-font: #FF7F50;
  --cyan-color: #1597BB;
  --red-color: #890F0D;
}

.transition-fade {
  transition: 0.3s;
  opacity: 1;
}

html {
  overflow-y: hidden;
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  background-color: var(--background-color);
}
body h1, body h3 {
  font-weight: bold;
}

.theme-switch {
  z-index: 20;
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  position: fixed;
  top: 200px;
  right: 0;
  transition: 0.3s ease;
  color: var(--general-font);
  border: 0;
  height: 94px;
  width: 200px;
  right: -125px;
}
.theme-switch img {
  height: 32px;
  transition: 0.3s ease;
}

.color-switch {
  z-index: 20;
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  position: fixed;
  top: 50px;
  right: -195px;
  transition: 0.3s ease;
}
.color-switch .color-palette {
  height: 32px;
  padding-right: 15px;
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.color-switch .color-palette:hover {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.color-switch .color-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--general-font);
}
.color-switch li {
  border-radius: 50%;
  margin-right: 5px;
}
.color-switch li:nth-child(2) {
  background-color: var(--green-font);
}
.color-switch li:nth-child(3) {
  background-color: var(--cyan-color);
}
.color-switch li:nth-child(4) {
  background-color: var(--yellow-font);
}
.color-switch li:nth-child(5) {
  background-color: var(--red-color);
}

.navigation-side {
  background-color: var(--background-color);
  position: fixed;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  font-weight: bold;
}
.navigation-side .logo {
  width: 150px;
  transform: scale(2);
  height: 75px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  transition: 0.3s ease;
}
.navigation-side .logo img {
  fill: var(--font-color);
}
.navigation-side ul {
  margin-top: 100px;
  align-self: center;
  color: var(--general-font);
  font-size: 25px;
}
.navigation-side ul li {
  color: var(--general-font);
  padding-bottom: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: 200px;
  text-align: center;
  transition: 0.1s ease;
  transform: scale(0.9);
}
.navigation-side ul li:hover:after {
  width: 100%;
}
.navigation-side ul li:hover span {
  color: var(--font-color);
}
.navigation-side ul li:hover a {
  color: var(--font-color);
}
.navigation-side ul li:after {
  content: "";
  display: block;
  height: 3px;
  width: 45%;
  margin: 0 auto;
  background-color: var(--font-color);
  margin-top: 10px;
  border-radius: 50px;
  transition: 0.3s ease;
  box-shadow: 0px -16px 80px 3px var(--font-color);
}
.navigation-side ul li span {
  color: var(--general-font);
  transition: 0.3s ease;
  transform: scale(1.4);
}
.navigation-side ul li span.active {
  color: var(--font-color);
}
.navigation-side ul li span:hover {
  cursor: pointer;
  color: var(--font-color);
}
.navigation-side ul li a {
  font-size: 30px;
  color: var(--general-font);
  transition: 0.3s ease;
  margin-left: 5px;
  text-decoration: none;
}
.navigation-side ul li a:hover {
  color: var(--font-color);
}
.navigation-side ul li a.active {
  color: var(--font-color);
}

aside {
  color: var(--general-font);
  margin-left: auto;
  width: 75%;
  height: 100vh;
  background-color: var(--background-lighten-color);
  transition: 0.3s ease;
}
aside main {
  transition: 0.3s ease;
  width: 100%;
  height: 100vh;
  background-color: var(--background-lighten-color);
}
aside .font-color {
  transition: 0.3s ease;
  color: var(--font-color);
}
aside .main-side h1 {
  margin-left: 100px;
  padding-top: 200px;
  font-size: 50px;
  line-height: 40px;
  color: var(--general-font);
  transition: 0.3s ease;
}
aside .main-side h1 span {
  transition: 0.3s ease;
  color: var(--font-color);
}
aside .main-side p {
  color: var(--general-font);
  transition: 0.3s ease;
  line-height: 30px;
  width: 800px;
  font-size: 25px;
  margin-left: 100px;
  margin-top: 50px;
}
aside .main-side a {
  display: block;
  width: fit-content;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 35px;
  margin-left: 100px;
  background-color: var(--font-color);
  transition: 0.3s ease;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 1px 50px -20px var(--font-color);
}
aside .main-side a:hover {
  box-shadow: 0px 1px 50px -18px var(--font-color);
  transform: scale(1.03);
}
aside .about-side h1 {
  padding-left: 100px;
  padding-top: 200px;
  font-size: 50px;
  width: fit-content;
}
aside .about-side h1::after {
  transition: 0.3s ease;
  content: "";
  display: block;
  height: 5px;
  width: 60%;
  margin-top: 10px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .about-side h1::before {
  transition: 0.3s ease;
  content: "";
  display: block;
  height: 5px;
  width: 30%;
  margin-bottom: -75px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .about-side h1.disabled::before {
  transition: none;
  content: "";
  display: block;
  height: 5px;
  width: 30%;
  margin-bottom: -75px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .about-side h1.disabled::after {
  transition: none;
  content: "";
  display: block;
  height: 5px;
  width: 60%;
  margin-top: 10px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .about-side h3 {
  margin-left: 100px;
  margin-top: 65px;
  font-size: 30px;
  color: var(--general-font);
  transition: 0.3s ease;
}
aside .about-side p {
  color: var(--general-font);
  transition: 0.3s ease;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 30px;
  font-size: 25px;
  line-height: 30px;
}
aside .about-side table {
  color: var(--general-font);
  transition: 0.3s ease;
  width: 100%;
  margin-top: 25px;
  padding-left: 50px;
  font-size: 25px;
  border-collapse: separate;
  border-spacing: 50px 0;
}
aside .about-side table tr td {
  padding: 15px 0 15px 0;
}
aside .about-side table tr td:after {
  content: "";
  width: 100%;
  display: block;
  height: 3px;
  background-color: var(--font-color);
  border-radius: 20px;
  margin-top: 10px;
  opacity: 40%;
}
aside .about-side table tr td.noUnderline:after {
  display: none;
}
aside .about-side table tr td input {
  width: 200px;
}
aside .about-side table tr td .slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: var(--font-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: opacity 0.3s;
  transition: 0.3s ease;
}
aside .about-side table tr td .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--general-font);
  cursor: default;
  transition: 0.3s ease;
}
aside .about-side table tr td .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--general-font);
  cursor: pointer;
  transition: 0.3s ease;
}
aside .about-side table a {
  display: block;
  width: fit-content;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 5px;
  background-color: var(--font-color);
  transition: 0.3s ease;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 1px 50px -20px var(--font-color);
}
aside .about-side table a:hover {
  box-shadow: 0px 1px 50px -18px var(--font-color);
  transform: scale(1.03);
}
aside .experience-side .grid-container {
  margin-left: 80px;
  padding-top: 8%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 90px;
  display: grid;
  width: 80%;
}
aside .experience-side .grid-container div {
  transition: 0.3s ease;
}
aside .experience-side .grid-container div h1 {
  color: var(--general-font);
  font-size: 50px;
  margin-bottom: 20px;
  transition: 0.3s ease;
}
aside .experience-side .grid-container div h3 {
  font-size: 15px;
  color: var(--general-font);
  font-weight: normal;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
aside .experience-side .grid-container div h3::before {
  content: "";
  background-color: var(--font-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin-top: -5px;
  margin-left: -44.5px;
}
aside .experience-side .grid-container div h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
aside .experience-side .grid-container div p {
  color: var(--general-font);
  font-size: 20px;
  transition: 0.3s ease;
}
aside .experience-side .grid-container div li {
  padding-top: 20px;
  border-left: 4px solid var(--general-font);
  padding-left: 30px;
  transition: 0.3s ease;
}
aside .experience-side .grid-container div li:first-child {
  padding-top: 0;
}
aside .experience-side .grid-container div ul {
  width: 95%;
  background-color: var(--background-color);
  padding: 50px 20px 50px 30px;
  border-radius: 20px;
  box-shadow: 0px -16px 77px -45px var(--font-color);
  transition: 0.3s ease;
}
aside .portfolio-side h1 {
  padding-left: 100px;
  padding-top: 200px;
  font-size: 50px;
  width: fit-content;
}
aside .portfolio-side h1::after {
  transition: 0.3s ease;
  content: "";
  display: block;
  height: 5px;
  width: 60%;
  margin-top: 10px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .portfolio-side h1::before {
  transition: 0.3s ease;
  content: "";
  display: block;
  height: 5px;
  width: 30%;
  margin-bottom: -75px;
  background-color: var(--general-font);
  border-radius: 2px;
}
aside .portfolio-side h3 {
  margin-left: 100px;
  margin-top: 65px;
  font-size: 30px;
  color: var(--general-font);
  transition: 0.3s ease;
}
aside .portfolio-side .grid-container {
  margin-top: 50px;
  width: 85%;
  margin-left: 100px;
  display: grid;
  height: 50%;
  border-radius: 20px;
  grid-column-gap: 120px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px 10px 0 0;
}
aside .portfolio-side .grid-container .grid-item {
  cursor: pointer;
  transition: 0.3s ease;
  transition: 0.3s ease;
  box-shadow: 0px 0px 50px -20px var(--font-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
aside .portfolio-side .grid-container .grid-item .grid-item-image {
  width: 320px;
  height: 180px;
  overflow: hidden;
  padding: 5.3px;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-color: var(--background-color);
  transition: 0.3s ease;
}
aside .portfolio-side .grid-container .grid-item:hover {
  transform: scale(1.01);
}
aside .portfolio-side .grid-container .grid-item button {
  transition: 0.3s ease;
  padding: 5px;
  border: 5px solid var(--background-color);
  border-top: 0;
  background-color: var(--background-lighten-color);
  color: var(--general-font);
  font-weight: bold;
  width: 101%;
  margin-top: -2px;
  border-radius: 0 0 10px 10px;
  color: var(--general-font);
  text-decoration: none;
  transition: 0.3s ease;
}
aside .portfolio-side .grid-container .grid-item button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=stylesheet.css.map */
